* {
  margin: 0;
  padding: 0;
  font-family: 'lato', sans-serif, serif;
}

.container {
  height: 100vh;
}

.sidebar {
  top: 0;
  background-color: rgb(240, 240, 240);
  height: 87vh;
  width: 6vh;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

/* .song-player{
  height: 15%;
  width: 100%;
  background-color: rgb(194, 200, 200);
  position: fixed;
  left: 0;
  right: 0;
  } */

.main-contect {
  top: 0;
  background-color: rgb(252, 254, 254);
  height: 90vh;
  width: auto
}

.song-player {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 105px;
  width: 100%;
  background-color: rgb(67, 104, 155);
  flex-direction: row;

}

.playlist-info {
  top: 0;
  background-color: RGB(69 69 69);
  height: 35vh;
  width: auto
}

.playlist-content {
  top: 5px;
  display: flex;
  width: 96.2%;
  flex-direction: row;
  margin-top: 40px;
  margin-left: 64px;
  height: 60px;
}




.las la-bars {
  top: 0;
  background-color: rgb(18, 112, 13);
  height: 10vh;
  width: 10vh;

}

.image1 img {
  padding-left: 40px;
  padding-top: 38px;
  height: 210px;
}

.flexContainer {
  display: flex;
}

.lis {
  display: flex;
  top: 5px;
  padding: 5vh;
  width: auto;
  height: 25vh;
  color: white;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 25%;



}

/* .list1 {
  padding-top: 40px;
  padding-left: 120px;
  margin-left: 50px;
  height: 43px;
}

.list2 {
  margin-top: 2px;
  width: auto;
  margin: 10px;
  margin-left: 170px;

}

.list3 {
  margin-top: 2px;
  width: auto;
  margin: 10px;

} */

.list4 {
  margin-right: 25px;
  width: auto;
  margin: 15px;
}

.img2 img {
  padding: 15px;
  width: 80px;
}

.song-name {
  padding-top: 35px;
  color: aliceblue;

}


.left {
  flex-direction: row;
  width: 50%;
  height: 100%;
  display: flex;

}

.player-button {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
}

.linkborder {
  border: 2px solid rgb(0, 30, 255);
  text-decoration: none;
  margin: 18px;
}



.playlist-content p {
  flex-basis: 20%;
  justify-content: left;
  left: 5px;
  margin: 20px;
}

.unknown {
  margin-top: 15px;
}

.playlist-content:nth-child(odd) {
  background-color: rgb(240, 240, 240);
}